<div class="container">
    <div class="card border-dark mb-3" style="">
        <div class="card-header">{{title}}</div>
        <div class="card-body text-dark">
            <form >
                <div class="form-group row">
                  <label for="titulo" class="col-form-label col-sm-3">Título</label>
                  <div class="col-sm-6">
                    <input name="titulo" type="text" class="form-control" [(ngModel)]="game.titulo"  placeholder="Titulo" maxlength="255"> 
                  </div>
                </div>
                <div class="form-group row">
                    <label for="fechaLanzamiento" class="col-form-label col-sm-3">fechaLanzamiento</label>
                    <div class="col-sm-6">
                      <input name="fechaLanzamiento" type="date" class="form-control" [(ngModel)]="game.fechaLanzamiento">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="precio" class="col-form-label col-sm-3">precio</label>
                    <div class="col-sm-6">
                      <input name="precio" type="number" min="0" class="form-control" [(ngModel)]="game.precio" placeholder="Precio">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="pegi" class="col-form-label col-sm-3">pegi</label>
                    <div class="col-sm-6">
                      <input name="pegi" type="number" min="3" max="18" class="form-control" [(ngModel)]="game.pegi">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="categoria" class="col-form-label col-sm-3">categoria</label>
                    <div class="col-sm-6">
                      <select class="form-control" name="categoria" [(ngModel)]="game.categoria">
                        <option *ngFor="let cat of categorias" [ngValue]="cat.value">{{ cat.title }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="company" class="col-form-label col-sm-3">Company</label>
                    <div class="col-sm-6">
                      <select class="form-control" name="company" [(ngModel)]="game.companies" [compareWith]="compareCompany" multiple>
                        <option *ngFor="let com of companies" [ngValue]="com">{{ com.nombre }}</option>
                      </select>
                    </div>
                  </div>
                <div class="col-sm-6">
                  <button class="btn btn-primary" (click)="create()" *ngIf="!game.idJuego">Crear</button>
                  <button class="btn btn-primary" (click)="update()" *ngIf="game.idJuego">Editar</button>
                  <button class="btn btn-secondary ml-2" routerLink="/juegos" type="button">Cancelar</button>
                </div>
              </form>

        </div>
      </div>
</div>