<div class="container">
    <div class="alert alert-danger" *ngIf="!companies">Error al consultar los juegos</div>
  <div class="alert alert-info" *ngIf="companies?.length == 0"> <!--Con esto evitamos que salte error. -->
  No hay juegos
  </div>
  
  <div class="my-5 pr-4 text-right">
    <button class="btn btn-primary" type="button" routerLink="/juegos/form">Crear Juego</button>
  </div>
  
  <div class="card border-info mb-3" *ngIf="companies">
      <div class="card-header">Header
        <button type="button" class="btn float-right btn-primary" (click)="switchId()">{{showId ? 'Ocultar' : 'Mostrar'}}</button>
      </div>
      <div class="card-body text-info">
          <table class="table table-bordered table-striped">
              <thead>
                <th *ngIf="showId">ID</th>
                <th>CIF</th>
                <th>Nombre</th>
                <th>Juegos</th>

              </thead>
              <tbody>
                <tr *ngFor="let company of companies">
                  <td *ngIf="showId">{{ company.idCompany }}</td>
                  <td>{{ company.cif }}</td>
                  <td>{{ company.nombre }}</td>
                  <td><span *ngFor="let game of company.juegos">{{game.titulo}}</span></td>
                  
                </tr>
              </tbody>
            </table>
      </div>
  </div>
  